extends layout.pug

block content
  section(class="grid grid-cols-4 gap-4 h-full min-w-full p-4")
    +card("Set Up", "bg-msstate-100", "text-white", "text-white")
      p Dummy text that represents general settings.
    +card("GWAS")
      p Dummy text that represents GWAS settings.
    +card("Linkage Disequilibrium")
      p Dummy text that represents GWAS settings.
    +card("Annotations & Pathways")
      p Dummy text that represents GWAS settings.
